	<div id="container" class="match" ng-class="{ flipped: !score.isP1Left }">
	<div ng-show='score.matchWinner'> {{score.matchWinner}} is the winner! </div>
	<div ng-show='score.gameJustWonBy'> {{score.gameJustWonBy}} wins game! </div>

	<form novalidate class="simple-form" ng-show="score.nextServerAId">

		 First to serve  <input type="radio" 
                                ng-model="nextGame.firstServer" 
                                value={{score.nextServerAId}} />{{score.nextServerAName}}
                         <input type="radio" 
                                ng-model="nextGame.firstServer" 
                                value="{{score.nextServerBId}}" />{{score.nextServerBName}} <br />

  <button ng-click="sendNextServer(nextGame.firstServer)">SUBMITO</button>                              
  </form>






		    <article id="p1-points" ng-click="increment(1)" ng-cloak>
		    	{{score.p1points}}
		    </article>
		    <aside id="p1-games">
		    	{{score.p1games}}
		    </aside>
				<serveball1></serveball1>
			

				

		   
		    <nav class="p1-back" ng-click="decrement(1)">Back</nav>
		  </section>

		  <section class="player2">
		    <h2 id="p2-name">
		    	{{score.p2name}}
		    </h2>
		    <article id="p2-points" ng-click="increment(2)">
		    	{{score.p2points}}
		    </article>
		    <aside id="p2-games">
		    	{{score.p2games}}
		    </aside>
		    <serveball2></serveball2>
		    <nav class="p2-back" ng-click="decrement(2)">Back</nav>
		  </section>

	</div>
